

.res-confirmed{
  background-image: url("/images/black-tick.png");
  background-size: 30px;
  background-repeat: no-repeat;
  padding-left: 50px;
  display: block;
  padding-top: 1rem;
  background-position-y: 1rem;

  margin-top: 3rem;
}

.print-button{
   float:right;
}

.print-button img{
  height: 1rem;
}

.print-button a, .print-button a:hover {
  color: #1658d4;
}


.cleared{
   clear: both;
}

.column-layout{
  margin-bottom: 10px;   
  clear: both;
}

.left-column{
  float: left;
  width: 90px;
}

.middle-column {
    overflow: hidden;
    padding-right: 10px;
}

.right-column {
  float: right;
}

.appointment-time-confirmed {
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 30px;
}

.conf {
  padding: 0 20px;
}

.calendar-add {
    background-image: url("/images/calendar-add.png");
    background-repeat: no-repeat;
    background-size: 23px;
    background-position-x: 10px;
    background-position-y: 7px;
    padding-left: 40px;
}

ul {
  list-style: disc;
}

.blue-arrows-ul {
   list-style: none;
}

.blue-arrows-ul li{
   background-image: url('/images/arrow-blue.png');
    background-repeat: no-repeat;
    background-size: 1em;
    background-position-y: 3px;
    padding-left: 20px;
    line-height: 1.5em;

    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 1rem;
}

.blue-arrows-ul li a, .blue-arrows-ul li a:hover {
  color: #1658d4
}

.send-button{
    background-color: #878787;
    color: white;
    text-transform: capitalize;
    padding: 0 15px;

    font-family: Helvetica, Helvetica;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.black-link {
    color: black;
    text-decoration: underline;
}

.blue-link{
    color: #1658d4;
    text-decoration: underline;
}

.black-link:hover {
    color: #1658d4;
    text-decoration: underline;
}

