

.res-confirmed{
  display: block;
  margin-top: 3rem;
}

.print-button{
   float:right;
}

.print-button img{
  height: 1rem;
}

.print-button a, .print-button a:hover {
  color: #1658d4;
}


.cleared{
   clear: both;
}

.appointment-time-confirmed {
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 30px;
}

.blue-arrows-ul {
   list-style: none;
}

.blue-arrows-ul li{
   background-image: url('/images/arrow-blue.png');
    background-repeat: no-repeat;
    background-size: 1em;
    background-position-y: 3px;
    padding-left: 20px;
    line-height: 1.5em;

    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 1rem;
}

.blue-arrows-ul li a, .blue-arrows-ul li a:hover {
  color: #1658d4
}

.send-button{
    background-color: #878787;
    color: white;
    text-transform: capitalize;
    padding: 0 15px;

    width: 100%;
    min-width: 74px;

    font-family: Helvetica, Helvetica;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.blue-outer {
  background-color: #0062b9;
}

.inner {
  background-color: white;
  padding: 25px;
}

.inner ul, .inner p, .inner div {
  font-family: 'Open Sans', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
}

.disclaimer{
  font-style:italic;
}

.left-conf-column {
      float: left;
      width: 25px;
}

.close-dots li {
    margin-bottom: 0rem;
    margin-left: 10px;
}

.qr-container {
    border: 1px solid #c1c1c1;
    margin-top:2rem;
    min-width: 143px;
}

.button-with-icon{
    margin-top: 1rem;
    margin-bottom: 0rem;
    width: 100%;
    padding: 0px;
    min-width: 143px;
}

.large-image {
  max-height: 74px;
  max-width: 71px;
  padding: 1rem;
}

.div-top-border {
   border-top: 1px solid #e5e5e5; 
   padding-top: 2rem; 
   padding-bottom: 1rem;
}

.email-sms-header{
  font-family:'Open Sans', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
}