

.res-confirmed{
  display: block;
  margin-top: 2rem;
  font-family:OpenSans-Bold;
  font-size:36px;
  color:#000000;
  line-height:40px;
}

.sub-res-confirmed {
  font-family:OpenSans-Bold;
  font-size:16px;
  color:#000000;
  letter-spacing:0.15px;
  line-height:24px;
  text-align:left;
}

.print-button{
   float:right;
}

.print-button img{
  height: 1rem;
}

.print-button a, .print-button a:hover {
  color: #1658d4;
}


.cleared{
   clear: both;
}

.appointment-time-confirmed {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 30px;
}

.blue-arrows-ul {
   list-style: none;
}

.blue-arrows-ul li{
   background-image: url('/images/arrow-blue.png');
    background-repeat: no-repeat;
    background-size: 1em;
    background-position-y: 3px;
    padding-left: 20px;
    line-height: 1.5em;

    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 1rem;
}

.blue-arrows-ul li a, .blue-arrows-ul li a:hover {
  color: #1658d4
}

.send-button{
    /*background-color: #878787;*/
    /*color: white;*/
    background:#232D35;
  	font-family: 'OpenSans-Bold';
  	font-size: 1.4em;
  	color:#FFFFFF;
  	letter-spacing:0.18px;
  	line-height:22px;
  	text-align:center;
  	text-transform: none;
    /*font-weight: 400;*/
    font-style: normal;
}

.grey-outer {
	background-color: #E8E8E8;
}

.inner {
  background-color: white;
  padding: 25px;
}

.inner ul, .inner p, .inner div {
  font-family: 'OpenSans-Light';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
}

.disclaimer{
  font-style:italic;
}

.left-conf-column {
      float: left;
      width: 25px;
}

.close-dots li {
    margin-bottom: 0rem;
    margin-left: 10px;
}

.qr-container {
    border: 1px solid #c1c1c1;
    /*margin-top:2rem;*/
    min-width: 143px;
}

.button-with-icon{
    margin-top: 1rem;
    margin-bottom: 0rem;
    background:#FEFEFE;
    border:1px solid rgba(123,158,186,0.19);
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.50);
    min-width:143px;

    font-family:OpenSans;
    font-size:16px;
    color:#232D35;
    line-height:22px;
    text-transform: none;
    letter-spacing: 0rem;
}

.button-with-icon-inline{
  margin-top: 1rem;
  margin-bottom: 0rem;
  background:#FEFEFE;
  border:1px solid rgba(123,158,186,0.19);
  box-shadow:0px 1px 2px 0px rgba(0,0,0,0.50);
  min-width:143px;

  font-family:OpenSans;
  font-size:16px;
  color:#232D35;
  line-height:22px;
  text-transform: none;
  letter-spacing: 0rem;
    /*padding: 0px;*/
    /*background:#232D35;
    font-family: 'OpenSans-Light';
    color:#FFFFFF;*/
}

.large-image {
  max-height: 74px;
  max-width: 71px;
  padding: 1rem;
}

.div-top-border {
  border-top :2px solid #232D35;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  text-decoration: none;

  font-family:OpenSans-Bold;
  font-size:24px;
  color:#000000;
  letter-spacing:0.15px;
  line-height:30px;
}

.email-sms-header{
  text-decoration:none;
  font-family:OpenSans-Bold;
  font-size:24px;
  color:#000000;
  letter-spacing:0.15px;
  line-height:30px;
}

@media (max-width: 815px) {
  #pushdown-span {
      display: none;
  }

  .email-sms-div {
     width: 100%; 
     padding: 1rem;
  }
}

@media (min-width: 815px) {
  #pushdown-span {
      display: block;
  }

  .email-sms-div {
     width: 70%; 
     padding: 2rem;
  }
}

@media (max-width: 550px) {
  .desktop-margin{
     margin-left: 0rem;
   }

   .button-with-icon, .button-with-icon-inline {
     width: 100%;
   }

   .inner {
     padding: 25px 0;
   }
}

@media (min-width: 550px) {
  .desktop-margin{
     margin-left: 3rem;
   }
}

.grey-background {
  background:#F0F3F5;
  border:1px solid rgba(227,230,232,0.20);
  box-shadow:0px 1px 2px 0px rgba(0,0,0,0.50);
}


.book-button {
  background:#232D35;
  font-family:OpenSans-Bold;
  font-size:16px;
  color:#FFFFFF;
  letter-spacing:0.18px;
  line-height:22px;
  text-align:right;
  text-transform: none;
}

.book-button:focus, .book-button:hover {
  background-color: #efefef;
  color:#000000;
}