body {
  font-family: 'OpenSans-Light';
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  text-decoration: none;
  color: #333333;
}

p {
  margin-bottom: 1.5rem;
}

ul {
  list-style: disc outside;
}
ol {
  list-style: decimal outside;
}
ol, ul {
  padding-left: 1.6rem;
}
ul ul,
ul ol,
ol ol,
ol ul {
  font-size: 100%;
}

a, a:hover {
  color: #609;
}
a {
  text-decoration: inherit;
}
a:hover{
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 { letter-spacing: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 2.4rem; line-height: 1.35; }
h2 { font-size: 1.8rem; line-height: 1.5;  }
h3 { font-size: 1.5rem; line-height: 1.6;  }
h4 { font-size: 1.4rem; line-height: 1.7;  }
h5 { font-size: 1.2rem; line-height: 1.8;  }
h6 { font-size: 1.1rem; line-height: 1.9;  }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3.0rem; }
  h2 { font-size: 2.4rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.3rem; }
  h6 { font-size: 1.1rem; }

  img#clientId-image { max-width: 640px; }
}

table {
  margin-bottom: 0;
}

@media (max-width: 550px) {
  .header {
      margin-top: 2rem;
      margin-bottom: 6rem;
  }

  img#clientId-image { width: 100%; }

  .button-cta {
    width: 100%;
  }
}

@media (min-width: 550px) {
  .header {
      margin-top: 5rem;
      margin-bottom: 18rem;
  }
}

.black-link {
    color: black;
    text-decoration: underline;
}

.blue-link{
    color: #1658d4;
    text-decoration: underline;
}

.black-link:hover {
    color: #1658d4;
    text-decoration: underline;
}

.section-header {
  border-top: 1px solid #e5e5e5;
  padding-top: 1.5rem;
  margin-top: 2rem;
  font-family: 'OpenSans-Light';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #333333;
}

label {
  font-weight: normal;
}

.button-cta, input[type="submit"].button-cta {
  background:#232D35;
	min-width: 12.5rem;
	height: 4.5rem;
	font-family: 'OpenSans-Bold';
	font-size:1.6em;
	color:#FFFFFF;
	letter-spacing:0.18px;
	line-height: 22px;
	text-align: center;
	text-transform: none;
}

.button-cta:hover, input[type="submit"].button-cta:hover {
  background-color: #efefef;
	color:#000000;
}

button:hover {
	background-color: #efefef;
}

.column-layout{
  margin-bottom: 10px;
  clear: both;
}

@media (max-width: 550px) {
  .left-input-column {
        float: left;
        width: 80px;
  }
}

@media (min-width: 550px) {
  .left-input-column {
        float: left;
        width: 150px;
  }
}

@media (max-width: 550px) {
  .left-column {
        float: left;
        width: 65px;
  }
}

@media (min-width: 550px) {
  .left-column {
        float: left;
        width: 90px;
  }
}

.u-full-width.gov-au-header {
    background-color: #E8E8E8;
    padding: 1rem 0 1rem 1rem;
}

.middle-column {
    overflow: hidden;
    padding-right: 10px;
}

.right-column {
  float: right;
}

.form-fields {
  font-family: 'OpenSans-Light';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  padding-top: 0.5rem;
}

.currentApptTime {
    font-family: 'OpenSans-Light';
    font-weight:700;
    font-style:normal;
    font-size:14px;
    text-decoration:none;
    color:#333333;
}

.service-message h1 {
  padding-top: 1rem;
}

.service-message {
  padding-top: 0.5em;
}

#currentAppDet {
  display:none;
}

@media (min-width: 1025px) {
  .desktop-only {
        display: inherit;
  }
}

@media (max-width: 1025px) {
  .desktop-only {
        display: none;
  }
}

.step-info{
  font-family:OpenSans;
  font-size:24px;
  color:#232D35;
  letter-spacing:0.05px;
  line-height:30px;
  margin-top: 2rem
}

.gov-au-footer{
  background:#222C35;
  margin-top:2rem;
}

.gov-au-footer a{
  text-decoration: underline;
  font-family:OpenSans;
  font-size:14px;
  color:#FFFFFF;
  letter-spacing:0.15px;
  line-height:19px;
  text-align:left;
  margin-right: 19px;
}

.gov-au-footer a:hover, .gov-au-footer a:focus{
  color:#0078C6;
}

.gov-au-footer.container {
    position: relative;
}

.gov-au-footer p {
    position: absolute;
    bottom: 0.5rem;
    right: 0;
}

.gov-au-footer img {
    float:left;
}