p {
  margin-bottom: 1.5rem;
}

ul {
  list-style: disc outside;
}
ol {
  list-style: decimal outside;
}
ol, ul {
  padding-left: 1.6rem;
}
ul ul,
ul ol,
ol ol,
ol ul {
  font-size: 100%;
}

a, a:hover {
  color: #609;
}
a {
  text-decoration: inherit;
}
a:hover{
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 { letter-spacing: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 2.4rem; line-height: 1.35; }
h2 { font-size: 1.8rem; line-height: 1.5;  }
h3 { font-size: 1.5rem; line-height: 1.6;  }
h4 { font-size: 1.4rem; line-height: 1.7;  }
h5 { font-size: 1.2rem; line-height: 1.8;  }
h6 { font-size: 1.1rem; line-height: 1.9;  }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3.0rem; }
  h2 { font-size: 2.4rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.3rem; }
  h6 { font-size: 1.1rem; }

  img#clientId-image { max-width: 640px; }
}

table {
  margin-bottom: 0;
}

@media (min-width: 640px) {
  .DateSlider {
    display: none;
  }
  .BookingCalendar {
    display: block;
  }
}

@media (max-width: 640px) {
  .BookingCalendar {
    display: none;
  }
  .DateSlider {
    display: block;
  }
  img#clientId-image { width: 100%; }
}

@media (max-width: 550px) {
  .header {
      margin-top: 2rem;
      margin-bottom: 6rem;
  }
}

@media (min-width: 550px) {
  .header {
      margin-top: 5rem;
      margin-bottom: 18rem;
  }
}

.black-link {
    color: black;
    text-decoration: underline;
}

.blue-link{
    color: #1658d4;
    text-decoration: underline;
}

.black-link:hover {
    color: #1658d4;
    text-decoration: underline;
}

.section-header {
  border-top: 1px solid #e5e5e5;
  padding-top: 1.5rem;
  margin-top: 2rem;
  font-family: 'Open Sans', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #333333;
}

label {
  font-weight: normal;
}

#button-continue {
  text-transform: capitalize !important;
  background-color: #0178c6 !important;

  font-family: 'Open Sans', Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#confirm-button {
  background-color: #0178C6;
  color: white;
  text-transform: capitalize !important;
  padding: 0 15px;
  font-family: 'Open Sans', Arial; 
  font-weight: 400; 
  font-style: normal; 
  font-size: 16px; 
  text-decoration: none; 
}

#confirm-button:hover{
    background-color: #3393d1;
    color: white;
}


.column-layout{
  margin-bottom: 10px;
  clear: both;
}

@media (max-width: 550px) {
  .left-input-column {
        float: left;
        width: 80px;
  }
}

@media (min-width: 550px) {
  .left-input-column {
        float: left;
        width: 150px;
  }
}

@media (max-width: 550px) {
  .left-column {
        float: left;
        width: 65px;
  }
}

@media (min-width: 550px) {
  .left-column {
        float: left;
        width: 90px;
  }
}

.u-full-width.gov-au-header {
    background-color: #0062b9;
    padding: 1rem 0 1rem 1rem;
}

.middle-column {
    overflow: hidden;
    padding-right: 10px;
}

.right-column {
  float: right;
}

.form-fields {
  font-family:'Open Sans', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  padding-top: 0.5rem;
}

.currentApptTime {
    font-family:'Open Sans', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:14px;
    text-decoration:none;
    color:#333333;
}

#currentAppDet {
  display:none;
}

