td {
	border: 0;
}

.appointment-time-confirmed {
	font-size: 1.2em;
}

.appointment-time-predefined {
	font-family:'Open Sans', 'Arial';
	font-weight:700;
	font-style:normal;
	font-size:14px;
	text-decoration:none;
	color:#333333;
}

.blue-outer {
	background-color: #0062b9;
}

.inner {
	background-color: white;
	padding: 25px;
}


.disclaimer{
	font-style:italic !important;
}

.text p {
	font-size:14px;
	line-height:normal;
	font-family:'Open Sans', 'Arial';
	font-weight:400;
	font-style:normal;
	font-size:14px;
	text-decoration:none;
	color:#333333;
	margin-bottom: 1rem;
}

.appointment-time-confirmed {
  text-transform: capitalize;
  font-weight: bold;
}

.section-header {
	border-top: 1px solid #e5e5e5;
	padding-top: 1.5rem;
	margin-top: 2rem;
	font-family: 'Open Sans', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #333333;
}

.text ul {
	font-family: 'Open Sans', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
}

/*
.book-button{
    background-color: #0178C6;
    color: white;
    text-transform: capitalize;
    padding: 0 15px;

    font-family: Helvetica, Helvetica;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.book-button:hover{
    background-color: #3393d1;
    color: white;
}*/

.left-column{
  float: left;
  width: 90px;
}

.middle-column {
    overflow: hidden;
    padding-right: 10px;
}

.right-column {
  float: right;
}

h4.documents-table {
	padding-top: 1rem;
}

table.documents-table {
	border-spacing: 1rem;
  border-collapse: separate;
}

.documents-table td {
	padding: 1rem;
	text-align: center;
	vertical-align: middle;
	width: 15rem;
	height: 12rem;
  border: 1px solid #D7D7D7;
	margin-bottom: 1rem;
}

.documents-table td p {
	padding: 0;
	margin: 0;
}

.documents-table img {
	width: 4.5rem;
	margin: 1rem;
}

span.test-prep-buttons .button {
	text-decoration: none;
}

span.test-prep-buttons .button:hover {
	background-color: #efefef;
}

@media (max-width: 640px) {
	table.documents-table {
		width: 100%;
	}
  .documents-table td {
		height: auto;
		width: 100%;
    display: block;
  }
}
