td {
	border: 0;
}

.appointment-time-confirmed {
	font-size: 1.2em;
}

.appointment-time-predefined {
	font-family:'Open Sans', 'Arial';
	font-weight:700;
	font-style:normal;
	font-size:14px;
	text-decoration:none;
	color:#333333;
}

.grey-outer {
	background-color: #E8E8E8;;
}

.inner {
	background-color: white;
	padding: 25px;
}


.disclaimer{
	font-family:OpenSansLight-Italic;
}

.grey-outer .inner {
	text-decoration:none;
	margin-bottom: 1rem;

	font-family:OpenSans-Light;
	font-size:16px;
	color:#000000;
	letter-spacing:0.15px;
	line-height:normal;
	text-align:left;
}

.appointment-time-confirmed {
  	text-transform: capitalize;
	font-family:OpenSans-Bold;
	font-size:16px;
	color:#000000;
	letter-spacing:0.14px;
	line-height:22px;
}

.section-header {
	border-top :2px solid #232D35;
	padding-top: 2.5rem;
	margin-top: 2.5rem;
    text-decoration: none;

    font-family:OpenSans-Bold;
	font-size:24px;
	color:#000000;
	letter-spacing:0.15px;
	line-height:30px;
}

.text ul {
	font-family: 'Open Sans', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
}

/*
.book-button{
    background-color: #0178C6;
    color: white;
    text-transform: capitalize;
    padding: 0 15px;

    font-family: Helvetica, Helvetica;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.book-button:hover{
    background-color: #3393d1;
    color: white;
}*/

.left-column{
  float: left;
  width: 90px;
}

.middle-column {
    overflow: hidden;
    padding-right: 10px;
}

.right-column {
  float: right;
}

h4.documents-table {
	padding-top: 1rem;
}

table.documents-table {
	width: 100%;
}

.documents-table td, div.documents-table {
	padding: 0.5rem;
	vertical-align: middle;
  border: 1px solid #D7D7D7;
	margin-bottom: 1rem;
}

.documents-table td p {
	padding: 0;
	margin: 0;
}

.docs img, div.documents-table img {
	width: 3rem;
	padding-right: 0.5rem;
}

.docs td {
	width: auto;
	padding: 0.5rem;
	border: 0;
}

span.test-prep-buttons .button {
	text-decoration: none;
	text-transform: none;
	font-size: 16px;
    background-color: #000000;
    color: white;
}

span.test-prep-buttons .button:hover, span.test-prep-buttons .button:focus {
	background-color: #efefef;
	color:#000000;
}

@media (max-width: 640px) {
	table.documents-table {
		width: 100%;
	}
  .documents-table td {
		height: auto;
  }
}

.book-button {
	background:#232D35;
	min-width:127px;
	height:48px;
	font-family:OpenSans-Bold;
	font-size:16px;
	color:#FFFFFF;
	letter-spacing:0.18px;
	line-height:22px;
	text-align:right;
	text-transform: none;
}

.book-button:focus, .book-button:hover {
	background-color: #efefef;
	color:#000000;
}
