BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//border.gov.au//Citizenship Appointment Service//EN
BEGIN:VEVENT
UID:{{id}}@border.gov.au
DTSTART;TZID=Australia/Melbourne:20151204T130000
DTEND;TZID=Australia/Melbourne:20151204T150000
SUMMARY:Citizenship Appointment
LOCATION:2 Lonsdale Street, Melbourne VIC 3000, Australia
DESCRIPTION:Australian Citizenship Appointment\nplease bring all the required documents and make sure you are prepared to sit the test
END:VEVENT
END:VCALENDAR
